/* CSS Document */
body{ background-image:url(a8014c086e061d958a9e9ccb79f40ad163d9ca6d.jpg)}
#box{ text-align:center;
       font-size:24px;
	   font-family:"楷体"; }
#text{ font-size:36px;
      color:#009;
	  font-weight:bold;
	   font-family:"楷体";
	  
	}	   
