/* CSS Document */
body{
	background-image:url(72ea405777bceff43811f0bc8af91db2.jpg)   
}


#text{
	margin-top:90px;
	font-size: 55px;
	color: #663300;
	font-family: "黑体";
	font-style: italic;
}
#box{
	margin-top:15px;
	margin-left:0px;
       
         }	   
		 
#box1{ font-size:24px;
        font-family:"楷体";
		color:#000;
		font-weight:bold;
		text-align:center;}	
				 
#gushi{ text-align:center;
font-size:36px;
font-family:"楷体";
color:#000;
font-weight:bold;
margin-top:81px;
margin-right:100px;}
